/* -------------------------------------------------------------------------
 * Event Espresso Instamojo Stylesheet
 * (c) 2014 PerfectSolution
 * -------------------------------------------------------------------------*/

/*
General Styles
---------------------------------------------------------------------------------------------------- */


/* Media Query for screens smaller then 768px (iPad portrait)
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 600px) and (min-width: 481px) {
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
}

@media only screen and (max-width: 480px) {
}

