.woocommerce-instamojo-capture {
	color:#85ad74 !important;
}
.woocommerce-instamojo-subscribe {
	color:#85ad74 !important;
}

.woocommerce-instamojo-cancel {
	color:#ad74a2 !important;
}

.woocommerce-instamojo-authorize,
.woocommerce-instamojo-recurring,
.woocommerce-instamojo-refund {
	color:#7499ad !important;
}

#instamojo-payment-actions {
	position:relative;
}

#instamojo-payment-actions .left {
	float:left;
}
#instamojo-payment-actions .right {
	float:right;
}

#instamojo-payment-actions .loader {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: rgba( 255, 255, 255, 0.7 ) url('../images/loader.gif') no-repeat center center;
	background-size: 50% ;
}

.instamojo-loader {
	min-height:20px;
	width:50px;
	background: url('../images/loader.gif') no-repeat center center;
	background-size: 100%;
}

#instamojo-payment-actions h4 .inline_total {
	float: right;
	color: #999;
}

#instamojo-payment-actions b, #instamojo-payment-actions strong {
	font-weight:700;
}

#instamojo-payment-actions .instamojo-split-container {
	border-top: 1px solid #ddd;
	margin: 0 -12px;
	padding: 10px 10px 0;
}

#instamojo-payment-actions .warning {
	color:#a00;
}

[data-instamojo-show="cardtype"] img,
.qp-meta-card img {
	max-height: 20px;
	top: 4px;
	position: relative;
}

[data-instamojo-show="cardtype"] img {
	margin: -1px 0 0 0 !important;
}


.qp-full-width, .qp-full-width .button {
	width: 100%;
	display: block;
	text-align: center;
	clear: both;
}

.qp-balance {
	margin-bottom: 0;
}

.qp-balance.last {
	margin-bottom: 5px;
}

.qp-balance:after {
	clear: both;
	content: "";
	display: table;
}

.qp-balance__label,
.qp-balance__amount {
	background-color: #f9f9f9;
	box-sizing: border-box;
	float: left;
	padding: 7px 10px;
	text-transform: uppercase;
	font-size: 10px;
	color: #8a8a8a;
}

.qp-balance__label {
	font-weight: bold;
	width: 60%;
	border-right: 2.5px solid #FFF;
}
.qp-balance__amount {
	border-right: 0;
	width: 40%;
	border-left: 2.5px solid #FFF;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.qp-balance__currency {
	margin-right: 10px;
}

.qp-balance.last .qp-balance__currency {
	margin-right: 0;
}

#qp-balance__amount-field {
	width: 100%;
	font-size: 10px;
	margin-top: -5px;
	top: 3px;
	position: relative;
	margin-left: 5px;
}

#wcqp_wiki, #wcqp_logs {
	margin-right: 5px;
}

.wcqp_api_indicator {
	position: absolute;
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin-left: 10px;
	top: -5px;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.wcqp_api_indicator.error {
	background-image: url(../images/icons/error.png);
}
.wcqp_api_indicator.ok {
	background-image: url(../images/icons/ok.png);
}

.woocommerce table.form-table fieldset:first-child {
	position: relative;
}